@media screen and (max-width: 1120px) {
    .section-1 {
        padding-left: 0px;
    }
    .hero-title {
        font-size: 2.6rem;
    }
    .aboutMe {
        font-size: 1.5rem;
    }
    #Contact {
        padding-left: 0px;
    }
    #Skills {
        padding-left: 0px;
    }
    #Work {
        padding-left: 0px;
    }
    #mobile-cards {
        margin-top: 50px;
        margin-left: -30px;
    }
    #mobile-skills-img {
        margin: 10px;
        margin-bottom: 40px;
        height: 110px;
        width: 110px;
        background-size: cover;
    }
    #mobile-skillImg-cont {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;

    }
    #mobile-skills-cont {
        height: 585px;
    }
}
@media screen and (max-width: 450px) {
    #mobile-btn {
        font-size: 0.95rem;
    }
    #mobile-hero-title {
        padding-top: 150px;
        font-size: 1.5rem;
    }
    #mobile-glow {
        margin-top: 65px;
    }
    #Work h1{
        font-size: 2.1rem;
    }
    #mobile-cards {
        text-align: right;
    }
    #mobile-socials {
        margin-right: -280px;
        margin-top: 70px;
    }
}
@media screen and (max-width:800px) {
    .content-box {
        grid-template-columns: 1fr;
    }
    .left {
        height: 200px;;
    }
}
@media screen and (max-width: 450px) {
    .contact-container{
        padding: 10px;
    }
    .content-box {
        grid-template-columns: 1fr;
        width: 500px;
    }
    .left {
        height: 200px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }
    .right {
        padding: 25px 40px;
    }
}
@media screen and (max-width: 1120px) {
    nav {
        height: 100px;
        width: 100%;
        z-index: 1;
        border-bottom: 1px solid black;
    }
    #mobile {
        display: flex;
        margin: -142px;
        margin-top: -15px;
    }
    #mobile-socials {
        margin-top: 60px;
    }
    .logo{
        display: none;
    }

}